body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.padded {
  padding: 0 15%;
}

.btn {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #222222;
  color: white;
}

.breadcrumb-item a {
  color: rgba(255, 255, 255, 0.848);
}
