<div class="header">
  <!--<p>Insert picture of me here</p>-->
  <h1>ETHAN LAJEUNESSE</h1>
  <div id="icons">
    <a id="github" href="https://github.com/ethanlaj" target="_blank">
      <img src="/global-media/github-original.svg" />
    </a>
    <!--<a id="linkedin" href="https://github.com/ethanlaj" target="_blank">
      <img src="/global-media/linkedin-plain.svg" />
    </a>-->
  </div>
</div>

<style>
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Monaco;
    padding-bottom: 50px;
  }

  .header img {
    height: 20px;
    width: 20px;
  }

  .header a {
    text-decoration: none;
  }

  .icons {
    display: flex;
  }
</style>
