<div class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/projects.html">Projects</a>
  <a href="/education.html">Education</a>
</div>

<style>
  .navbar {
    background-color: #000000;
    overflow: hidden;
    justify-content: center;
    display: flex;
    box-shadow: -1px 3px 13px -3px #696969;
    margin: 0;
    padding: 0;
  }
  .navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    font-family: "Helvetica";
    font-size: 18px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
</style>
