<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!--Roboto Font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!--Icons-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> 

<div hidden class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/projects.html">Projects</a>
  <a href="/education.html">Education</a>
</div>

<style>
  .navbar {
    background-color: #000000;
    overflow: hidden;
    justify-content: center;
    display: flex;
    box-shadow: -1px 3px 13px -3px #696969;
    margin: 0;
    padding: 0;
  }
  .navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    font-family: "Helvetica";
    font-size: 18px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
</style>
