<head>
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/projects.html">Projects</a>
        <a href="/about.html">About</a>
      </div> 
</head>

<style>
    .navbar {
        background-color: #1A1A1B;
        overflow: hidden;
    }
    .navbar a {
        float: left;
        color: #94F3E4;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Trebuchet MS';
        font-size: 17px;
    }
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
</style>