.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
	font-family: Monaco;
	text-transform: uppercase;

	border-bottom: 1px solid rgba(128, 128, 128, 0.2);
	padding-bottom: 0.5rem;
	margin-bottom: 2rem;
}

.header img {
	object-fit: cover;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 10px 0;
}

.header a {
	text-decoration: none;
}

.headerIcons {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.github,
.linkedin {
	color: white;
	font-size: 2em;
	text-decoration: none;
}

.github:hover,
.linkedin:hover {
	color: var(--bs-link-hover-color);
}
